<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
     
        <% events.forEach(function(e) { %>
          <div class="card mt-3 me-3 eventCard">
              <img src="<%= e.category %>" alt="url of event" class="card-img-top mt-3">
                <div class="card body">
                    <h5 class="card-title"><%= e.name %></h5>
                </div>
        <%}) %>  
    </div>
  </div>

<%- include('../partials/footer') %>

