<%- include('./partials/header') %>

<div class="container">
    <h1>Welcome to Events!</h1>
    <img src="https://i.imgur.com/mLm0LAh.jpg" alt="Image 1">
    <img src="https://i.imgur.com/dER0af6.jpg" alt="Image 2">
    <img src="https://i.imgur.com/M7Dpsv7.png" alt="Image 3">

<%- include('./partials/footer') %>


