body {
    background-color: #4B9CD3;
}

.center-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    max-width: 380px; /* Adjust the max-width to your desired width */
    margin: auto; /* Center the card */
  }

.card-img-top {
    max-width: 80%;
    margin: auto;
    padding-top: 10%;
}

.card-img-top1 {
    max-width: 30%
    
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    vertical-align: top; /* Adjust the vertical alignment as needed */
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.remove-button {
    text-align: center;
    vertical-align: middle;
}

.remove-label {
    display: inline-block;
    margin-right: 10px;
}

.remEv {

    align-items: self-end;
}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container img {
    width: 33.33%; /* Set width to 1/3 of the container for a three-column layout */
    box-sizing: border-box;
    padding: 5px; /* Add some padding for spacing between images */
  }
  
  h1 {
    width: 100%; /* Ensure the heading takes the full width of the container */
    text-align: center; /* Center-align the heading */
  }