body {
    background-color: #4B9CD3;
}


.custom-card {
    max-width: 380px; /* Adjust the max-width to your desired width */
    margin: auto; /* Center the card */
  }

.card-img-top {
    max-width: 80%;
    margin: auto;
    padding-top: 10%;
}

.card-img-top1 {
    max-width: 20%
    
}